<div class="row">
    <div class="col-sm-6">
        <h2>Today: {{ scriptureReference }}</h2>
    </div>
    <div class="col-sm-6">
        <div class="btn-group">
            <label class="btn btn-default" ng-model="contentType" btn-radio="'text'" uncheckable>Text</label>
            <label class="btn btn-default" ng-model="contentType" btn-radio="'audio'" uncheckable>Audio</label>
            <label class="btn btn-default" ng-model="contentType" btn-radio="'video'" uncheckable>Video</label>
        </div>
    </div>
</div>

<div class="row content-view" ng-show="contentType">
    <div class="col-xs-12" ng-show="contentType === 'text'">
        text...
    </div>
    <div class="col-xs-12" ng-show="contentType === 'audio'">
        audio...
    </div>
    <div class="col-xs-12" ng-show="contentType === 'video'">
        video...
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <label for="response">Thoughts</label>
        <textarea id="response" class="form-control"></textarea>
    </div>
</div>
