body {
    padding-top: 50px;
    padding-bottom: 50px;
}

h1, h2, h3 {
    margin-bottom: 20px;
}

.today-header {
    display: inline-block;
}

.content-view {
    margin: 15px 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 15px 0;
}

.response {
    margin-top: 15px;
}

textarea {
    min-height: 50px;
}

.other-responses-header {
    display: inline-block;
}

.other-response {
    margin-top: 15px;
}


.day {
    margin: 5px 0;
    padding: 10px 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.day-response {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}